<div id="sidebar-container">
    <div id="logo-container">
        <a href="./index.html" id="logo-sidebar"><img href="./index.html" src="../public/assets/logo.png" alt="Página Inicial"></a>
    </div>
    <p>Menu</p>
    <ul id="menu">
        <a href="./index.html"><li><img src="../public/assets/icons/home.svg" alt="Página Inicial">Página Inicial</li></a>
        <a href="./clientes.html"><li class="itemWithBorder"><img src="../public/assets/icons/clientes.svg" alt="Clientes da Tornearia">Clientes</li></a>
        <a href="./pedidos.html"><li class="itemWithBorder"><img src="../public/assets/icons/pedidos.svg" alt="Pedidos de Materiais">Gastos</li></a>
        <a href="./servicos.html"><li class="itemWithBorder"><img src="../public/assets/icons/servicos.svg" alt="Serviços da Tornearia">Serviços</li></a>
        <a href="./relatorio.html"><li class="itemWithBorder"><img src="../public/assets/icons/grafico.svg" alt="Relatório Financeiro">Relatório</li></a>
    </ul>
    <div id="footer-section">
        <button id="backup-btn" title="Fazer backup do banco de dados">
            <img src="../public/assets/icons/backup.svg" alt="Backup">
            Backup
        </button>
        <button id="restore-btn" title="Restaurar backup do banco de dados">
            <img src="../public/assets/icons/backup.svg" alt="Restore">
            Restaurar
        </button>
        <div id="sair"><img src="../public/assets/icons/sair.svg">Sair</div>
    </div>
</div>