<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Serviço - Vallim Tornearia</title>
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/alerts.css">
</head>
<body>
    <h1>Adicionar Serviço</h1>
        <form class="form-add">
            <label for="nomeServico">Nome do Serviço</label>
            <input type="text" id="nome" placeholder="Digite o serviço que será feito" required>

            <label for="nomeCliente">Nome do Cliente</label>
            <input type="text" id="nomeCliente" placeholder="Digite ou selecione o nome do cliente" required>

            <label for="preco">Preço</label>
            <input type="text" step="0.01" id="preco" placeholder="R$ 0.00" required>

            <label for="pagamento">Pagamento</label>
            <select id="pagamento">
                <option value="Boleto">Boleto</option>
                <option value="Cartão">Cartão</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Pix">Pix</option>
            </select>

            <label for="data">Data</label>
            <input type="date" id="data">

            <label for="notaFiscal">Nota Fiscal</label>
            <input type="text" id="notaFiscal" placeholder="Digite o número da nota fiscal">

            <label for="observacao">Observação</label>
            <textarea id="observacao" placeholder="Digite se houver observação"></textarea>

            <div class="file-upload">
                <label for="imagem" class="custom-file-label">
                    <span id="file-name">Selecionar imagem</span>
                </label>
                <input type="file" id="imagem" hidden>
            </div>

            <button type="submit">Cadastrar Serviço</button>
        </form>
        <a href="index.html">
            <button id="sair"><img src="../public/assets/icons/voltar.svg"></button>
        </a>
        <div id="alert-container"></div>
    <script type="module" src="../scripts/add-servicos.js"></script>
</body>
</html>
