<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pedido de Material - Vallim Tornearia</title>
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/alerts.css">
</head>
<body>
    <h1>Adicionar Pedido</h1>
    <form class="form-add">
        <label for="nomeMaterial">Nome do Material</label>
        <input type="text" id="nomeMaterial" placeholder="Digite o que foi comprado" required>

        <label for="fornecedor">Fornecedor</label>
        <input type="text" id="fornecedor" placeholder="Digite de quem comprou o material">

        <label for="quantidade">Quantidade</label>
        <input type="number" id="quantidade" placeholder="Digite a quantidade comprada">

        <label for="valor">Valor</label>
        <input type="text" step="0.01" id="valor" placeholder="R$ 0.00" required>

        <label for="dataPedido">Data da entrega</label>
        <input type="date" id="data">

        <label for="entregador">Entregador</label>
        <input type="text" id="entregador" placeholder="Digite quem trouxe o pedido">

        <label for="observacao">Observação</label>
        <textarea type="text" id="observacao" placeholder="Digite se houver observação"></textarea>

        <button type="submit">Cadastrar Pedido</button>
    </form>
    <a href="index.html">
        <button id="sair"><img src="../public/assets/icons/voltar.svg"></button>
    </a>
    <div id="alert-container"></div>
    <script type="module" src="../scripts/add-pedidos.js"></script>
</body>
</html>