<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - Vallim Tornearia</title>
    <link rel="stylesheet" href="../public/css/sidebar.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/lists.css">
    <link rel="stylesheet" href="../public/css/modal.css">
    <link rel="stylesheet" href="../public/css/alerts.css">
</head>
<body>
    <div id="sidebar-container"></div>

    <div class="table-container">
        <h1>Lista de Clientes</h1>
        <div class="table-controls">
            <div class="search-box">
                <img src="../public/assets/icons/search.svg" alt="Buscar" class="search-icon">
                <input type="text" id="search-input" placeholder="Procurar cliente...">
                <img src="../public/assets/icons/close.svg" alt="Limpar" class="clear-icon">
            </div>

            <div class="filter-container">
                <label for="entries" class="filter-label">Ordenar por:</label>
                <select id="entries" class="filter-select">
                    <option value="10">ID (maior)</option>
                    <option value="9">ID (menor)</option>
                    <option value="1">Nome (A-Z)</option>
                    <option value="2">Nome (Z-A)</option>
                </select>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th id="acao-coluna"></th>
                </tr>
            </thead>
            <tbody id="tabela-pedidos">
            <!-- clientes serão adicionados aqui -->
            </tbody>

            <!-- template para os clientes -->
            <template id="pedido-template">
                <tr>
                    <td class="id-cliente"></td>
                    <td class="nome-cliente"></td>
                        <div class="menu-container">
                            <div class="menu-dropdown">
                                <button class="detalhes">Ver Detalhes</button>
                                <button class="editar">Editar</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
        </table>

        <div class="pagination">
            <button class="prev">Anterior</button>
            <span class="page-numbers">1, 2, 3 ...</span>
            <button class="next">Próximo</button>
        </div>
    </div>

    <!--vizualizar o modal (esta invisivel/none por padrao)-->
    <div id="modal-detalhes" class="modal">
        <div class="modal-conteudo">
            <span class="fechar" onclick="fecharModal()">&times;</span>
            <div id="detalhes-container"></div>
        </div>
    </div>

    <div id="alert-container"></div>


    <script type="module" src="./renderer.js"></script>
    <script type="module" src="../scripts/clientes.js"></script>
    <script type="module" src="../scripts/utils/menuList.js"></script>
</body>
</html>