<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Vallim Tornearia</title>
    <link rel="stylesheet" href="../public/css/sidebar.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<script src="../scripts/index.js"></script>
<body>

    <div id="sidebar-container"> </div>

    <div id="main-content">
        <img src="../public/assets/logo.png" alt="Vallim Tornearia" id="logo">
        <h1>Bem-vindo de volta!</h1>
        <p>Sistema para gerenciamento da tornearia</p>
        <div id="button-container">
            <a href="add-servico.html"><button class="btn">ADICIONAR SERVIÇO</button></a>
            <a href="add-pedido.html"><button class="btn">ADICIONAR GASTO</button></a>
        </div>
    </div>

</body>
<script type="module" src="./renderer.js"></script>
</html>
